<div id="signup">
  <h2>Sign Up</h2>

  <!-- Form for user signup -->

  <form id="signup-form">
    <input type="text" id="username-signup" placeholder="Username" required />
    <input
      type="password"
      id="password-signup"
      placeholder="Password"
      required
    />
    <button type="submit" id="signup-button">Sign Up</button>
  </form>

  <!-- Link to the login page for users who already have an account -->
  
  <p>Already have an account? <a href="/login">Log in here</a></p>
</div>

<script src="/js/signup.js"></script>
